  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
     
  .logo {
    width: 80vh;
  }

  #user-pic {
    margin-top: 5vh;
  }


  #photo {
    width: 20vw;
  }

  .photo-container {
    width: 20vw;
  }

  span.card-title.price-card {
    color:black;
    font-weight: 300;
    background-color: deeppink;
    padding:10px;
  }

