body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

 .logo {
   width: 80vh;
   margin-bottom: 0;
 }

 #photo {
   width: 20vw;
 }

 .photo-container {
   width: 20vw;
 }

 span.card-title.price-card {
   color:black;
   font-weight: 300;
   background-color: deeppink;
   padding:10px;
 }

 /* #cover{
   width: 100%;
 } */
